{% extends "teachers/loginLayout.html" %}
{% block login_content %}
    <h2>You have been logged out</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'students-login' %}">Sign in</a>
        </small>
    </div>
{% endblock login_content %}