{% extends "teachers/loginLayout.html" %}
{% load crispy_forms_tags %}
{% block login_content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Student Registration</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a href="{% url 'students-login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock login_content %}