{% extends "teachers/loginLayout.html" %}
{% load crispy_forms_tags %}
{% block login_content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Teacher Login</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a href="{% url 'teachers-register' %}">Create Teacher Account</a>
            </small>
        </div>
        <div class="pt-2">
            <small class="text-muted">
                Not a teacher? <a href="{% url 'students-login' %}">Student Login</a>
            </small>
        </div>
    </div>
{% endblock login_content %}