{% extends "main/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h3>Are you sure you want to end the lecture?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger mr-3" type="submit">End Lecture</button>
                <a class="btn btn-outline-secondary" href="{% url 'main-lecture' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}