{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if status == 1 %}
        {% if lecture.owner == user %}
            <div class="row">
                <div class="col">
                    <a class="btn btn-outline-success" href="{% url 'main-students' lecture.id %}">View Students</a>
                </div>
                <div class="col">
                    <a class="btn btn-outline-success" href="#" data-toggle="modal" data-target="#revealModal">Reveal Passcode</a>
                </div>
                <div class="col">
                    <a class="btn btn-outline-info" href="{% url 'main-update' lecture.id %}">Update Details</a>
                </div>
                <div class="col-auto">
                    <a class="btn btn-outline-danger" href="{% url 'main-delete' lecture.id %}">End Lecture</a>
                </div>
            </div>
        {% endif %}
    {% elif status == 2 %}
        <div class="row">
            <div class="col">
                <a class="btn btn-outline-success" href="{% url 'main-students' lecture.id %}">View Students</a>
            </div>
            <div class="col-auto">
                <a class="btn btn-outline-danger" href="#" data-toggle="modal" data-target="#leaveModal">Leave Lecture</a>
            </div>
        </div>
    {% endif %}


    <div class="row top-buffer pt-3">
        <div class="col-md">
            <article class="media content-section">
                <img class="rounded-circle account-img" src="{{ lecture.owner.image.url }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <div class="mr-2" href="#">
                            {{ lecture.owner.first_name }} {{ lecture.owner.last_name }}
                            <small class="text-muted">- {{ lecture.date|date:"dS F Y" }}</small>
                        </div>
                    </div>
                    <h2>{{ lecture.module_code }} - {{ lecture.lecture_title }}</h2>
                    <p class="article-content">{{ lecture.lecture_description }}</p>
                </div>
            </article>
        </div>
    </div>

    <div class="row top-buffer">

        <div class="col">
            <div class="content-section">
                {% if status == 2 %}
                    <form class=" mb-3 pt-2" method="POST">
                        {% csrf_token %}
                        <div class="ml-4">
                            {{ form.anonymous }} <small>{{ form.anonymous.label }}</small>
                        </div>
                        <div class="row pt-3">
                            <fieldset class="input-group form-group fieldLeft pl-5">
                                {{ form.content }}
                            </fieldset>
                            <div class="input-group-append fieldRight pl-0 mb-3">
                                <button class="btn btn-outline-success" type="submit">Send</button>
                            </div>
                        </div>
                    </form>
                {% endif %}

                <div class="anyClass">
                    {% if not posts %}
                        <small>No posts yet...</small>
                    {% endif %}
                    {% for post in posts %}
                        <article class="media pt-1">
                            <img class="rounded-circle article-img-small" src="{{ post.author.image.url }}">
                            <div class="media-body">
                                <div class="article-metadata">
                                    {% if status == 1 %}
                                        <small class="mr-2">{{ post.author.first_name }} {{ post.author.last_name }}</small>
                                    {% else %}
                                        {% if post.anonymous %}
                                            <small class="mr-2">Anonymous User</small>
                                        {% else %}
                                            <small class="mr-2">{{ post.author.first_name }} {{ post.author.last_name }}</small>
                                        {% endif %}
                                    {% endif %}
                                    <small class="text-muted">{{ post.date|date:"H:i - d/m/Y" }}</small>
                                    {% if status == 1 %}
                                        <a class="btn-sm btn-outline-danger" href="{% url 'main-delete-chat' lecture.id post.id %}">Delete</a>
                                    {% endif %}
                                </div>
                                <p class="article-content break-text">{{ post.content }}</p>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-3">
            {% if status == 2 %}
                {% load static %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="col pb-3">
                        {% if rating == 1 %}
                            <button class="btn btn-success pt-3 pl-3 pb-0 pr-0" type="submit" name="emotion" value=1>
                                <img class="rounded-circle account-img" src="{% static "images/good.png" %}">
                            </button>
                        {% else %}
                            <button class="btn btn-outline-success pt-3 pl-3 pb-0 pr-0" type="submit" name="emotion" value=1>
                                <img class="rounded-circle account-img" src="{% static "images/good.png" %}">
                            </button>
                        {% endif %}
                    </div>
                    <div class="col pb-3">
                        {% if rating == 2 %}
                            <button class="btn btn-warning pt-3 pl-3 pb-0 pr-0" type="submit" name="emotion" value=2>
                                <img class="rounded-circle account-img" src="{% static "images/middle.png" %}">
                            </button>
                        {% else %}
                            <button class="btn btn-outline-warning pt-3 pl-3 pb-0 pr-0" type="submit" name="emotion" value=2>
                                <img class="rounded-circle account-img" src="{% static "images/middle.png" %}">
                            </button>
                        {% endif %}
                    </div>
                    <div class="col-auto">
                        {% if rating == 3 %}
                            <button class="btn btn-danger pt-3 pl-3 pb-0 pr-0" type="submit" name="emotion" value=3>
                                <img class="rounded-circle account-img" src="{% static "images/bad.png" %}">
                            </button>
                        {% else %}
                            <button class="btn btn-outline-danger pt-3 pl-3 pb-0 pr-0" type="submit" name="emotion" value=3>
                                <img class="rounded-circle account-img" src="{% static "images/bad.png" %}">
                            </button>
                        {% endif %}
                    </div>
                </form>
            {% elif status == 1 %}
                <div class="col pb-3">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <button class="btn btn-outline-info" type="submit" name="reset" value=1>
                                Reset Emotions
                            </button>
                            <a class="btn btn-outline-info ml-2" href="{% url 'main-stats' lecture.id %}">
                                View Stats
                            </a>
                        </div>                        
                    </form>
                </div>
                <div class="col pb-3">
                    <div class="row">
                        <img class="rounded-circle account-img" src="{% static "images/good.png" %}">
                        <h1 class="pt-4">{{ good_count }}</h1>
                    </div>
                </div>
                <div class="col pb-3">
                    <div class="row">
                        <img class="rounded-circle account-img" src="{% static "images/middle.png" %}">
                        <h1 class="pt-4">{{ middle_count }}</h1>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row">
                        <img class="rounded-circle account-img" src="{% static "images/bad.png" %}">
                        <h1 class="pt-4">{{ bad_count }}</h1>
                    </div>
                </div>
            {% endif %}
        </div>
        
    </div>
            
        


    <!-- Models -->
    <div class="modal fade" id="revealModal" tabindex="-1" role="dialog" aria-labelledby="revealModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h2 class="modal-title" id="revealModal">Passcode: {{ lecture.passcode }}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="leaveModal" tabindex="-1" role="dialog" aria-labelledby="leaveModel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="leaveModel">Are you sure you want to leave the lecture?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{% url 'main-leave' lecture.id %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-danger" type="submit" value="Yes, I'm sure">
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}