{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-success" href="{% url 'main-lecture' lecture.id %}">Return to lecture</a>
        </div>
    </div>

    <div class="row pt-4 mt-3 content-section">
        <div class="col pb-3">
            <div class="row">
                <img class="rounded-circle account-img" src="{% static "images/good.png" %}">
                <h1 class="pt-4">{{ good_count }}</h1>
            </div>
        </div>
        <div class="col pb-3">
            <div class="row">
                <img class="rounded-circle account-img" src="{% static "images/middle.png" %}">
                <h1 class="pt-4">{{ middle_count }}</h1>
            </div>
        </div>
        <div class="col pb-3">
            <div class="row">
                <img class="rounded-circle account-img" src="{% static "images/bad.png" %}">
                <h1 class="pt-4">{{ bad_count }}</h1>
            </div>
        </div>
        <div class="col-auto">
            <div class="row">
                <img class="rounded-circle account-img" src="{% static "images/none.png" %}">
                <h1 class="pt-4">{{ none_count }}</h1>
            </div>
        </div>
    </div>

    <div class="content-section">
        <div class="row">
            <p class="m-2">
                Total: {{ total_votes }} votes / {{ total_students }} students
            </p>
        </div>

        <div id="row">
            <div class="col">
                <canvas id="emotions-chart" data-url="{% url 'charts' lecture.id %}" width="300"></canvas>
            </div>
            <div class="col my-3">
                <canvas id="emotions-chart2" data-url="{% url 'charts' lecture.id %}" width="500"></canvas>
            </div>
        </div>
    </div>

    <div class="content-section p-3">
        {% if not student_data %}
            <small>No students yet...</small>
        {% endif %}
        {% for student in student_data %}
        <div class="article-title" href="{% url 'main-lecture' lecture.id %}">
            <article class="media content-section hover mb-0">
                <img class="rounded-circle article-img-small mt-2" src="{{ student.0.image.url }}">
                <div class="media-body">
                    <div class="d-flex">
                        <p class="pt-3">{{ student.0.first_name }} {{ student.0.last_name }}<p>
                        <div class="p-2">
                            {% if student.1 == 0 %}
                                <img class="rounded-circle article-img-small ml-2" src="{% static "images/none.png" %}">
                            {% elif student.1 == 1 %}
                                <img class="rounded-circle article-img-small ml-2" src="{% static "images/good.png" %}">
                            {% elif student.1 == 2 %}
                                <img class="rounded-circle article-img-small ml-2" src="{% static "images/middle.png" %}">
                            {% elif student.1 == 3 %}
                                <img class="rounded-circle article-img-small ml-2" src="{% static "images/bad.png" %}">
                            {% endif %}
                        </div>
                        <div class="ml-auto p-2">
                            <div class="row">
                                <img class="rounded-circle article-img-small mr-2" src="{% static "images/good.png" %}">
                                <p class="pl-0 pr-5 pt-2">{{ student.2 }}</p>
                                <img class="rounded-circle article-img-small mr-2" src="{% static "images/middle.png" %}">
                                <p class="pl-0 pr-5 pt-2">{{ student.3 }}</p>
                                <img class="rounded-circle article-img-small mr-2" src="{% static "images/bad.png" %}">
                                <p class="pl-0 pr-5 pt-2">{{ student.4 }}</p>
                                <img class="rounded-circle article-img-small mr-2" src="{% static "images/none.png" %}">
                                <p class="pl-0 pr-5 pt-2">{{ student.5 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>

    <div class="content-section">
        <div id="row">
            <div class="col">
                <canvas id="emotions-chart3" data-url="{% url 'charts' lecture.id %}" width="300"></canvas>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <script>

        $(function () {
    
            var $emotionsChart = $("#emotions-chart");
            $.ajax({
                url: $emotionsChart.data("url"),
                success: function (data) {
        
                    var ctx = $emotionsChart[0].getContext("2d");
                    
            
                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: data.labels,
                            datasets: [{
                                label: 'Students',
                                data: data.data,
                                backgroundColor: [
                                    'rgba(21, 212, 0, 0.3)',
                                    'rgba(248, 252, 0, 0.4)',
                                    'rgba(255, 99, 132, 0.4)',
                                    'rgba(97, 97, 97, 0.4)'
                                    ],
                                    borderColor: [
                                    'rgb(21, 212, 0)',
                                    'rgba(237, 217, 0, 86)',
                                    'rgba(255, 99, 132)',
                                    'rgb(97, 97, 97)',
                                    ],
                                borderWidth: 1
                            }]          
                        },
                        options: {
                            tooltips: {
                                callbacks: {
                                    label: function(tooltipItem, data) {
                                        var allData = data.datasets[tooltipItem.datasetIndex].data;
                                        var tooltipLabel = data.labels[tooltipItem.index];
                                        var tooltipData = allData[tooltipItem.index];
                                        var total = 0;
                                        for (var i in allData) {
                                            total += allData[i];
                                        }
                                        var tooltipPercentage = Math.round((tooltipData / total) * 100);
                                        return tooltipLabel + ': ' + tooltipData + ' (' + tooltipPercentage + '%)';
                                    }
                                }
                            },
                            scales: {
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Students'
                                    },
                                    ticks: {
                                        beginAtZero: true,
                                        userCallback: function(label, index, labels) {
                                            if (Math.floor(label) === label) {
                                                return label;
                                            }

                                        },
                                    }
                                }],
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Emotion',                                        
                                    },
                                }]
                            },
                            responsive: true,
                            legend: {
                                display: false,
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Current Emotions'
                            }
                        }
                    });
                },
                error: function(error_data){
                    console.log("error")
                    console.log(error_data)
                }
            
            });

            var $emotionsChart2 = $("#emotions-chart2");
            $.ajax({
                url: $emotionsChart2.data("url"),
                success: function (data) {
        
                    var ctx = $emotionsChart2[0].getContext("2d");
                    
                    data = [data.data[0]+data.data[1]+data.data[2], data.data[3]]
                    labels = ['Voted', "Didnt Vote"]

                    new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'Students',
                                data: data,
                                backgroundColor: [
                                    'rgba(0, 8, 255, 0.4)',
                                    'rgba(97, 97, 97, 0.4)',
                                    ],
                                borderColor: [
                                    'rgb(0, 8, 255)',
                                    'rgb(97, 97, 97)',
                                    ],
                                borderWidth: 1
                            }]          
                        },
                        options: {
                            tooltips: {
                                callbacks: {
                                    label: function(tooltipItem, data) {
                                        var allData = data.datasets[tooltipItem.datasetIndex].data;
                                        var tooltipLabel = data.labels[tooltipItem.index];
                                        var tooltipData = allData[tooltipItem.index];
                                        var total = 0;
                                        for (var i in allData) {
                                            total += allData[i];
                                        }
                                        var tooltipPercentage = Math.round((tooltipData / total) * 100);
                                        return tooltipLabel + ': ' + tooltipData + ' (' + tooltipPercentage + '%)';
                                    }
                                }
                            },
                            responsive: true,
                            legend: {
                                display: false,
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Votes vs No Votes'
                            }
                        }
                    });
                },
                error: function(error_data){
                    console.log("error")
                    console.log(error_data)
                }
            
            });

            var $emotionsChart3 = $("#emotions-chart3");
            $.ajax({
                url: $emotionsChart3.data("url"),
                success: function (data) {
        
                    var ctx = $emotionsChart3[0].getContext("2d");
                    
                    data = data.data2
                    labels = ['Good', 'Middle', 'Bad']

                    new Chart(ctx, {
                        type: 'polarArea',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'Students',
                                data: data,
                                backgroundColor: [
                                    'rgba(21, 212, 0, 0.3)',
                                    'rgba(248, 252, 0, 0.4)',
                                    'rgba(255, 99, 132, 0.4)',
                                    ],
                                borderColor: [
                                    'rgb(21, 212, 0)',
                                    'rgba(237, 217, 0, 86)',
                                    'rgba(255, 99, 132)',
                                    ],
                                borderWidth: 1
                            }]          
                        },
                        options: {
                            tooltips: {
                                callbacks: {
                                    label: function(tooltipItem, data) {
                                        var allData = data.datasets[tooltipItem.datasetIndex].data;
                                        var tooltipLabel = data.labels[tooltipItem.index];
                                        var tooltipData = allData[tooltipItem.index];
                                        var total = 0;
                                        for (var i in allData) {
                                            total += allData[i];
                                        }
                                        var tooltipPercentage = Math.round((tooltipData / total) * 100);
                                        return tooltipLabel + ': ' + tooltipData + ' (' + tooltipPercentage + '%)';
                                    }
                                }
                            },

                            responsive: true,
                            legend: {
                                display: false,
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Cumulative Votes'
                            }
                        }
                    });
                },
                error: function(error_data){
                    console.log("error")
                    console.log(error_data)
                }
            
            });
    
        });
    
    </script>
    
{% endblock content %}