{% extends "main/base.html" %}
{% block content %}
    {% if status == 1 %}
        <div class="row  top-buffer">
            <div class="col-auto">
                <a href="{% url 'main-create' %}" class="btn btn-outline-success" role="button">Create Lecture</a>
            </div>
        </div>
    {% elif status == 2 %}
        <div class="row  top-buffer">
            <div class="col-auto">
                <a href="{% url 'main-join' %}" class="btn btn-outline-success" role="button">Join Lecture</a>
            </div>
        </div>
    {% endif %}
    {% if not lectures %}
        <div class="content-section col-sm-6 mt-4">
            <small class="text-muted mt-5">You currently have no lectures...</small>
        </div>
    {% endif %}
    <div class="row top-buffer pt-3">
        <div class="col-md">
            {% for lecture in lectures %}
                <a class="article-title" href="{% url 'main-lecture' lecture.id %}">
                    <article class="media content-section hover">
                        <div class="media-body">
                            <div class="article-metadata">
                                {{ lecture.owner.first_name }} {{ lecture.owner.last_name }}
                                <small class="text-muted">- {{ lecture.date|date:"dS F Y" }}</small>
                            </div>
                            <h2>{{ lecture.module_code }} - {{ lecture.lecture_title }}</h2>
                            <p class="article-content text-muted">{{ lecture.lecture_description }}</p>
                        </div>
                    </article>
                </a>
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-success mb-4" href="?page={{ page_obj.previous_page_number }}">Prev</a>
        {% else %}
            <a class="btn btn-outline-success mb-4" href="">Prev</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-success mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                <a class="btn btn-outline-success mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-success mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        {% else %}
        <a class="btn btn-outline-success mb-4" href="">Next</a>

        {% endif %}

    {% endif %}
{% endblock content %}