{% extends "main/base.html" %}
{% block content %}
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-success" href="{% url 'main-lecture' lecture.id %}">Return to lecture</a>
        </div>
    </div>

    <div class="row top-buffer pt-3">
        <div class="col-md">
            <article class="media content-section">
                <img class="rounded-circle account-img" src="{{ lecture.owner.image.url }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <div class="mr-2" href="#">
                            {{ lecture.owner.first_name }} {{ lecture.owner.last_name }}
                            <small class="text-muted">- {{ lecture.date|date:"dS F Y" }}</small>
                        </div>
                        
                    </div>
                    <h2>{{ lecture.module_code }} - {{ lecture.lecture_title }}</h2>
                    <p class="article-content">{{ lecture.lecture_description }}</p>
                </div>
            </article>

            <div class="content-section anyClass">
                {% if not students %}
                    <small>No students yet...</small>
                {% endif %}
                {% for student in students %}
                <a class="article-title" href="{% url 'main-profile' lecture.id student.id %}">
                    <article class="media content-section hover">
                        <img class="rounded-circle article-img-small" src="{{ student.image.url }}">
                        <div class="media-body">
                            <div class="article-metadata">
                                {{ student.first_name }} {{ student.last_name }}
                            </div>
                            <small>{{ student.username }} - {{ student.email }} </small>
                        </div>
                    </article>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}


