{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-success" href="{% url 'main-lecture' lecture.id %}">Return to lecture</a>
        </div>
    </div>
    <div class="content-section mt-3">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Details</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-success" type="submit">Save</button>
            </div>
        </form>
    </div>
{% endblock content %}