{% extends "main/base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <a class="btn btn-outline-success" href="{% url 'main-students' lecture.id %}">Return to student list</a>
    </div>
</div>

<div class="row top-buffer pt-3">
    <div class="col-md">
        <article class="media content-section">
            <img class="rounded-circle account-img" src="{{ user.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <h4>{{ student.first_name }} {{ student.last_name }}</h4>
                </div>
                <div class="article-metadata">
                    <p>Username: <b>{{ student.username }}</b></p>
                </div>
                <div class="article-metadata">
                    <p>Email: <b>{{ student.email }}</b></p>
                </div>
                <p class="mb-0">Account Created: <b>{{ student.date_joined }}</b></p>
            </div>
        </article>
    </div>
</div>

{% if status == 1 %}
    {% if lecture.owner == user %}
        <div class="row">
            <div class="col">
                <a class="btn btn-outline-danger" href="#" data-toggle="modal" data-target="#revealModal">Kick From Lecture</a>
            </div>
        </div>
    {% endif %}
{% endif %}

<!-- Models -->
<div class="modal fade" id="revealModal" tabindex="-1" role="dialog" aria-labelledby="leaveModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <p class="modal-title" id="leaveModel">Are you sure you want to kick <b>{{ student.username }}</b> from the lecture?</p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{% url 'main-kick' lecture.id student.id %}" method="POST">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="Yes, I'm sure">
            </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}